/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.database/database.sqlite
.idea/*
/.git
.DS_Store
Thumbs.db
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
/public/images/thumb
/public/uploads/*
/public/assets/*
/.sass-cache
npm-debug.log