h1,h2,h3 {font-weight:normal;}
h1 {font-family:'PFAgoraSansProLight',sans-serif;font-size:36px;line-height:40px;margin:0 0 1em;}
h2 {font-family:'PFAgoraSansProLight',sans-serif;font-size:24px;line-height:30px;text-transform:uppercase;margin:1.5em 0 0;}
h3 {font-size:16px;font-weight:bold;line-height:20px;margin:2em 0 0;}
article,aside,footer,header,nav,section,figure,figcaption {display:block;}
table {border-collapse:collapse;border-spacing:0;}
td {padding:0;}
img {border:0;display:block;}
a {color: #059cc7;}
a:hover {color: #ed4081;}


p {margin:0 0 1em;line-height:20px;}
dl,dt,dd {margin:0;}
ul {list-style:none;}
ul,ol {margin:2em 0;padding:0;}
li {margin:0;padding:0;line-height:20px;}
.content ul li:before {content:url(../img/list_style.png);width:7px;height:7px;position:absolute;margin:-1px 0 0 -14px;}
/*blockquote {margin:1.5em 0 1.5em 30px;padding:3px 14px 0;font-size:16px;line-height:20px;color:#898989;font-family:'PFAgoraSansProItalic',sans-serif;background:url(../img/left_quote.png) no-repeat 0 0;}*/
blockquote {margin:1.5em 0 1.5em 30px;padding:3px 14px 0;font-size:16px;line-height:20px;color:#898989;font-family:'PFAgoraSansProItalic',sans-serif;}

.clearfix:after {content:'.';display:block;height:0;font-size:0;clear:both;visibility:hidden;}
.clear {clear:both;}

html {height:100%;}
body {background:#fff;color:#313131;font-family:Arial,Helvetica,sans-serif;margin:0;font-size:13px;height:100%;}
#wrapper {width:92%;padding:0 40px;margin:0 auto;min-width:900px;max-width:1320px;overflow:hidden;position:relative;min-height:100%;}
body.index #wrapper {}
.push {padding-bottom:150px;}

.girl {background:url(../img/girl.png) no-repeat 75% 0;width:100%;height:850px;position:absolute;z-index:-1;max-width:1200px;}

header {margin-top:22px;}
.logo {float:left;}
.logo img {width:162px;height:162px;}

.box_nagigation {float:left;margin:76px 0 0 5%;min-height:112px;}
.box_nagigation h3 {font-family:'PFAgoraSansProLight',sans-serif;font-size:17px;margin:0 0 23px;letter-spacing:1px;line-height:normal;font-weight:400;}
/*.box_nagigation span {font-family:'PFAgoraSansProLight',sans-serif;font-size:18px;}*/
.box_nagigation ul {float:left;margin:0 40px 0 0;display:none;}
.box_nagigation li {line-height:normal;}
.box_nagigation li+li {margin-top:11px;}
.box_nagigation .active,.box_nagigation strong {color:#82b1bf;background:#d0eff8;padding:0 4px 2px 4px;margin-left:-4px;font-weight:400;}
.box_nagigation a {padding-right:4px;}
.box_nagigation a:hover {color: #ed4081;}
/*.box_nagigation strong {color:#82b1bf;background:#d0eff8;padding:0 4px 2px 4px;margin-left:-3px;font-weight:400;}*/

.leftBox {float:left;width:75%;margin-right:10%;}
.rightBox {float:left;width:15%;margin-top:18px; position: relative;}
.rightBox p {line-height:normal;margin:0;}

.city_choice {font-size:12px;display:inline-block;text-align:left;margin-top:42px;}
.city_choice.drop {background:#fff;}
.city_selected {position:relative;border-top:1px solid transparent;border-left:1px solid transparent;border-right:1px solid transparent;padding:9px 0px 0;text-align:center;}
.city_choice.drop .city_selected {border-top:1px solid #dedede;border-left:1px solid #dedede;border-right:1px solid #dedede;}
.city_choice span {background:url(../img/dotted.png) repeat-x 0 100%;white-space:nowrap;}
.city_choice span:hover {background:none;}
.city_selected p {cursor:pointer;display:inline-block;margin:0 10px;position:relative;white-space:nowrap;}
.city_selected p:hover span {background:none;}
.city_selected p:after {content:'';width:15px;height:6px;background:url(../img/city_arrow.png) no-repeat 0 -6px;display:inline-block;margin-left:3px;}
.city_choice.drop .city_selected p:after {background-position:0 0;}
.city_selected strong {position:absolute;font-weight:400;left:-110px;}

/*.city_selected:before {content:'';width:121px;height:121px;background:url(../img/circle.png) no-repeat 0 0;position:absolute;top:-42px;left:4px;}*/

.city_choice ul {margin-top:0px;border-left:1px solid #dedede;border-right:1px solid #dedede;border-bottom:1px solid #dedede;padding:15px 0px 0px;display:none;position:relative;}
.city_choice.drop ul {display:block;margin:0;}
.city_choice li {cursor:pointer;padding:4px 10px 4px;margin:0;line-height:normal;}
.city_choice li:hover {background:#d0eff8;}
.city_choice li:hover span {background:none;}
.city_choice li.active {background:#3cbee2;}
.city_choice li.active span {color:#fff;}
/*.city_choice li.active:hover span {color:#000;}*/
.city_choice li+li {margin-top:0px;}
.city_choice span {display:inline-block;cursor:pointer;}
.city_choice ul li.active span {background:none;}
.city_choice table {}

.phone {margin:13px 0 0 -7px;font-size:24px;font-family:'PFAgoraSansProLight',sans-serif;white-space:nowrap;}

.circle {width:150px;height:121px;background:url(../img/circle.png) no-repeat 50% 0;position:relative;text-align:center;margin-left:-22px;}
.circle .title {position:absolute;top:52px;left:-102px;font-size:12px;}

.social { line-height:0; font-size:0; padding:10px 0 0; }
.social a { display:inline-block; width:36px; height:36px; text-decoration:none !important; background-repeat:no-repeat;}
.social a:first-child { margin:0 5px 0 0; }
.vk { background-image:url(../img/vk_int.png);  }
.fb { background-image:url(../img/facebook.png); margin-right:3px; }
.insta { background-image:url(../img/instagram.png); }

.address_and_affiliates {margin:2px 0 0 0;}
.address_and_affiliates a.active {color:#82b1bf;background:#d0eff8;padding:0 4px 2px 4px;margin-left:-4px;}
.address_and_affiliates strong {color:#82b1bf;background:#d0eff8;padding:0 4px 2px 4px;margin-left:-4px;font-weight:400;}
.address_and_affiliates a.active:hover {color:#ed4081;}

.middle {margin-top:10px;}
.program_wrap {float:left;width:82%;background:rgba(15,201,255,0.17);height:247px;margin-right:3%;}
.program_wrap h3 {font-size:18px;font-family:'PFAgoraSansProLight',sans-serif;margin:0 0 17px;font-weight:400;line-height:normal;}
.program_nav {font-family:'PFAgoraSansProLight',sans-serif;text-align:justify;cursor:default;width:76%;margin:0;float:left;min-width:520px;}
.program_nav:after {content:'';width:100%;display:inline-block;}
.program_nav li {font-size:48px;text-transform:uppercase;line-height:46px;vertical-align:top;display:inline-block;}
.program_nav li+li {margin-left:0%;}
.program_nav a {text-decoration:none;background:url(../img/blue_solid.jpg) repeat-x 0 45px;}
.program_nav a:hover {background-image:url(../img/red_solid.jpg);}
.program {padding:26px 45px 0;}

.add_navigation {float:right;width:15%;margin:0;}
.add_navigation li {font-size:14px;line-height:normal;}
.add_navigation li+li {margin-top:18px;}
.add_navigation a {color:#056480;}
.add_navigation strong {font-weight:400;}
.add_navigation a:hover {color:#ed4081;}

.actions {float:left;width:12%;}
.actions dl {margin-bottom:30px;}
.actions dt {margin:0 0 5px -3px;font-size:0;line-height:0;position:relative;}
.actions dd {}
.actions .mask {width:96px;height:96px;background:url(../img/mask1.png) no-repeat 0 0;position:absolute;top:0;left:0;}
.actions img {width:96px;height:96px;}

footer {color:#323232;height:100px;width:92%;padding:0 40px;margin:-100px auto 0;min-width:900px;max-width:1320px;position:relative;}
.copyrights_wrap {width:81%;float:left;margin-left:4%;}
.copyrights {margin-left:-14px;}
.rights_reserved {font-size:10px;margin-top:-1px;}
.design {width:15%;float:left;font-size:12px;}
.cooper {width:130px;height:28px;background:url(../img/cooper.png) no-repeat 0 0;display:block;}
.cooper:hover {background-position:0 -28px;}
.design span {display:block;margin-bottom:5px;}

/* inner */
.container {width:75%;margin-top:50px;padding-bottom:150px;}
.content {margin-left:5%;padding-left:162px;}
.content > img {margin:1em 0;}
.content h2+*,.content h3+* {margin-top:1em;}
.content > ul > li+li, .content > ol > li+li {margin:0.8em 0 0;}

.incut {font-size:28px;line-height:30px;color:#3bbde2;font-family:'PFAgoraSansProLight',sans-serif;margin:1em 0;}
.content > .date {font-size:11px;color:#8b8b8b;margin:-3em 0 3em;}

/* inner actions */
.actions_wrap {}
.action {margin:0 0 40px -136px;}
.action dl {}
.action dt {float:left;position:relative;margin:2px 40px 0 0;}
.action dd {overflow:hidden;}
.action .date {font-size:11px;color:#8b8b8b;margin-bottom:2px;}
.action h3 {font-weight:400;margin:0 0 9px;}
.action p {margin-top:9px;}
.action .mask {width:96px;height:96px;background:url(../img/mask1.png) no-repeat 0 0;position:absolute;top:0;left:0;}
.action img {width:96px;height:96px;}

.techno_wrap {margin-top:30px;}
.techno_wrap dl {margin:0 0 40px -170px;}
.techno_wrap dt {float:left;margin:0 40px 0 0;position:relative;}
.techno_wrap dd {overflow:hidden;}
.techno_wrap h2 {margin:0 0 2px;}
.techno_wrap p {margin-top:2px;}
.techno_wrap img {width:130px;height:130px;}
.techno_wrap .mask {width:130px;height:130px;background:url(../img/mask2.png) no-repeat 0 0;position:absolute;top:0;left:0;}


.franchising {margin-left:-162px;margin-right:-35%;}
.franchising .left_box {float:left;width:60%;margin-right:5%;}
.franchising .right_box {float:left;width:35%;}


header .box_wrap {margin-top:13px;}
header .box_wrap .box {display:none;}
/*header .box_wrap .box+.box {}*/

/* contacts */
.contacts {margin:-10px 0 80px;}
.contacts ul {margin:0;padding:0;font-family:'PFAgoraSansProLight',sans-serif;font-size:24px;text-transform:uppercase;}
.contacts li {margin:0;padding:0;float:left;}

.contacts .city {margin-left:-4px;}
.contacts .city li {line-height:26px;padding:1px 3px 0;cursor:pointer;color:#0da6cc;margin-right:22px;}
.contacts .city li span {display:inline-block;line-height:22px;border-bottom:1px dotted #0da6cc;}
.contacts .city li span:hover {border-bottom:1px solid transparent;}
.contacts .city li.active {background:#d8f2f9;color:#82b1bf;cursor:default;}
.contacts .city li.active span {border-bottom:1px solid transparent;}

.content .contacts li:before {content:'';}
.contacts .box_wrap {position:relative;min-height:473px;}
.contacts .box_wrap .box {width:150%;}
.contacts .box_wrap .box+.box {display:none;}
.contacts .address {font-style:normal;padding-bottom:314px;}
.contacts .address dl {}
.contacts .address dl+dl {margin-top:6px;}
.contacts .address dt {color:#7d8188;font-size:13px;display:inline-block;width:81px;}
.contacts .address dd {display:inline;font-size:16px;}
.contacts .address .mail {font-size:13px;}

.contacts .left_side {margin-top:50px;float:left;width:40%;margin-right:6%;min-height:473px;position:relative;}
.contacts .map {float:left;margin-top:50px;}


.contacts form {position:absolute;bottom:-3px;left:0;width:270px;min-height:314px;}
.contacts form dl {}
.contacts form dl+dl {margin-top:12px;}
.contacts form dt {margin-bottom:4px;}
.contacts form dd {}

input {font-size:13px;font-family:Arial,Helvetica,sans-serif;width:100%;margin:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;border:1px solid #afafaf;padding:2px;}
input.error {border:1px solid #f88;}
textarea {font-size:13px;font-family:Arial,Helvetica,sans-serif;width:100%;height:118px;margin:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;resize:none;border:1px solid #afafaf;padding:2px;}
textarea.error {border:1px solid #f88;}
.contacts form .submit {position:absolute;bottom:-36px;left:0;}
.submit a {display:inline-block;background:#3cbee3;border-top:1px solid #73d9ef;border-bottom:1px solid #35a7c7;text-transform:uppercase;font-size:13px;color:#fff;padding:0 30px;height:29px;line-height:29px;text-decoration:none;}
.submit a:hover {background:#76d1eb;border-top:1px solid #9de4f4;border-bottom:1px solid #71c1d8;}

.srv_prices_wrap {}
.srv_prices_nav {margin-left:-195px;margin-bottom:42px;}
.srv_prices_nav ul {margin:0;padding:0;font-family:'PFAgoraSansProLight',sans-serif;font-size:24px;text-transform:uppercase;text-align:justify;height:145px;overflow:hidden;width:136%;position:relative;}
.srv_prices_nav li {margin:0;padding:0;text-align:center;color:#0da6cc;line-height:26px;display:inline-block;}

.srv_prices_nav ul:after {content:'';width:133%;display:inline-block;}

.content .srv_prices_nav li:before {content:'';}
.srv_prices_nav li ins {background:url(../img/serv_and_price_ico.png) no-repeat 0 0;height:100px;display:inline-block;cursor:pointer;margin-bottom:14px;}
.srv_prices_nav li.spn-1 {}
.srv_prices_nav li.spn-1 ins {width:100px;}
.srv_prices_nav li.spn-2 ins {width:94px;background-position:-100px 0;}
.srv_prices_nav li.spn-3 ins {width:95px;background-position:-194px 0;}
.srv_prices_nav li.spn-4 ins {width:95px;background-position:-289px 0;}
.srv_prices_nav li span {display:inline-block;line-height:22px;border-bottom:1px dotted #0da6cc;cursor:pointer;padding:1px 0 0 0;margin:0 3px;}
.srv_prices_nav li span:hover {border-bottom:1px solid transparent;}
.srv_prices_nav strong {font-weight:400;border-bottom:1px dotted #0da6cc;display:inline-block;line-height:22px;}
.srv_prices_nav li.active span {background:#d8f2f9;color:#82b1bf;cursor:default;border-bottom:1px solid transparent;margin:0;padding:1px 3px 0;}
.srv_prices_nav li.active ins {cursor:default;}
.srv_prices_nav li.spn-5 {text-align:left;line-height:26px;vertical-align:bottom;width:220px;position:absolute;margin-top:15px;top:0;right:0;}
.srv_prices_nav li.spn-5 span {border-bottom:0;line-height:normal;}
.srv_prices_nav li.spn-5 span:hover strong {border-bottom:1px solid transparent;}
.srv_prices_nav li.spn-5 div:first-child {margin-bottom:0px;}
.srv_prices_nav li.spn-6 {text-align:left;line-height:26px;vertical-align:bottom;width:220px;}
.srv_prices_nav li.spn-6 span {border-bottom:0;line-height:normal;}
.srv_prices_nav li.spn-6 span:hover strong {border-bottom:1px solid transparent;}
.srv_prices_nav li.active strong {border-bottom:1px solid transparent;}

.content table {margin:40px 0;color:#3d3b38;width:100%;}
.content table tr:first-child {background:#d8f2f9;}
.content table tr+tr {background:url(../img/table_dash.png) repeat-x 0 100%;}
.content table tr+tr td {padding-top:20px;}
.content table tr+tr+tr td {padding-top:9px;}
.content table td {padding:9px 20px 10px 13px;line-height:20px;}
.content table .price {text-align:right;color:#3cbee2;font-size:15px;}
.content table .price span {font-size:12px;}
.content table tr:first-child td {font-size:11px;padding:3px 20px 4px 13px;text-align:right;font-weight:400;color:#222}
.content table tr:first-child td:first-child {font-size:16px;text-align:left;}

.content table tr+tr:hover {color:#000;cursor:default;}
.content table tr+tr:hover .price {color:#333;}


.srv_prices_wrap {}
.main_table_wrap .wrap {margin-left:-195px;width:200%;}
.main_table_wrap .table_wrap {float:left;width:50%;}
.main_table_wrap .left_nav {float:left;width:155px;margin:50px 2.5% 40px 0;}
.main_table_wrap .left_nav ul {margin:0;padding:0;}
.main_table_wrap .left_nav li {margin:0;padding:0;line-height:17px;font-size:14px;}
.main_table_wrap .left_nav li:before {content:'';}
.main_table_wrap .left_nav li+li {margin-top:22px;}
.main_table_wrap .left_nav li span {color:#059cc7;border-bottom:1px dotted #059cc7;cursor:pointer;}
.main_table_wrap .left_nav li span:hover {border-bottom:1px solid transparent;}
.main_table_wrap .left_nav li.active > span {background:#d8f2f9;line-height:17px;outline:4px solid #d8f2f9;}
.main_table_wrap .left_nav li.active span {position:relative;border-bottom:1px solid transparent;color:#056480;}
.pr_tit {white-space:nowrap;}

.addresses_wrap .table_inner {margin-top:40px;}
.main_table_wrap .table_inner+div {display:none;}

.main_table_wrap .main_table_wrap_inner+div {display:none;}


/* addresses_wrap */
.addresses_wrap {}
.addresses_wrap .table_wrap {width:75%;}
.main_table_wrap .table_wrap .map {display:block;float:left;margin-top:40px;}
.addresses_wrap .table_inner {float:left;width:40%;margin-right:10%;}

.address_city {margin-left:-198px;width:200%;}
.address_city ul {margin:0 0 0px;padding:0;font-family:'PFAgoraSansProLight',sans-serif;font-size:24px;text-transform:uppercase;}
.address_city li {margin:0 2% 10px 0;padding:0;line-height:normal;float:left;color:#0da6cc;}
.address_city li span {display:inline-block;line-height:22px;border-bottom:1px dotted #0da6cc;cursor:pointer;padding:1px 0 0 0;margin:0 3px;}
.address_city li span:hover {border-bottom:1px solid transparent;}
.address_city li.active span {background:#d8f2f9;color:#82b1bf;cursor:default;border-bottom:1px solid transparent;margin:0;padding:1px 3px 0;}

.content .address_city li:before {content:'';}

.addresses_wrap .table_inner {}
.addresses_wrap .table_inner ul {margin:0;padding:0;}
.addresses_wrap .table_inner li {margin:0;padding:11px 0 13px;line-height:normal;border-bottom:1px dashed #b2b2b2;}
.addresses_wrap .table_inner li:before {content:'';}
.addresses_wrap .table_inner ul {}
.addresses_wrap .table_inner ul .street {font-size:16px;margin-bottom:1px;display:inline-block;}
.addresses_wrap .table_inner ul .place {font-size:13px;font-style:italic;margin-bottom:2px;}
.addresses_wrap .table_inner ul .telephone {font-size:13px;}
.on_map {color:#059cc7;font-size:11px;cursor:pointer;border-bottom:1px dotted #059cc7;line-height:12px;margin-left:7px;display:none;}
.addresses_wrap .table_inner li:hover .on_map {display:inline-block;}

/* about_us */
.about_us_wrap {margin-top:-25px;}
.about_us_wrap .incut {width:130%;}
.about_us__pod_wrap {margin-left:-190px;margin-right:-43%;}

.about_us__pod_wrap .left {width:35%;float:left;margin-right:5%;}
.about_us__pod_wrap .right {width:60%;float:left;}

.about_us__pod_wrap .jobs {float:left;width:30%;margin-left:10%;}
.about_us__pod_wrap .jobs h2 {margin-top:1em;;}
.about_us__pod_wrap .jobs p {line-height:20px;color:#6b6963;font-style:italic;font-size:11px;}

.about_us__pod_wrap .reput {width:30%;margin-right:10%;}


/* questions */
.questions_wrap {}
.questions_wrap form {width:90%;position:relative;margin-bottom:63px;}
.questions_wrap form input {width:222px;}

.questions_wrap form dl {font-size:0;margin-bottom:20px;letter-spacing:-1px;}
.questions_wrap form dl.area {}
.questions_wrap form dl.area dt {vertical-align:top;margin-top:3px;}
.questions_wrap form dt {display:inline-block;width:150px;margin-left:-150px;font-size:13px;letter-spacing:normal;}
.questions_wrap form dd {display:inline-block;width:100%;letter-spacing:normal;}

.answers_wrap {margin:0;padding:0;}
.answers_wrap li {margin:0 0 50px;padding:0;line-height:normal;}
.content .answers_wrap li:before {content:'';}
.answers_wrap li .name {font-size:11px;color:#898998;}

.answers_wrap li p {margin-bottom:0;}
.answers_wrap li blockquote {margin-top:0.6em;}

/* paginator */
.paginator {margin:75px 0 40px;}
.paginator .next_prev {margin-bottom:11px;}
.paginator .next_prev span {float:left;color:#a1a1a1;margin-right:35px;}
.paginator .next_prev span.prev {background:url(../img/pag_left_notact.png) no-repeat 0 5px;padding-left:8px;}
.paginator .next_prev span.next {background:url(../img/pag_right_notact.png) no-repeat 100% 5px;padding-right:8px;}
.paginator .next_prev a {float:left;margin-right:35px;}
.paginator .next_prev a.prev {background:url(../img/pag_left_act.png) no-repeat 0 5px;padding-left:8px;}
.paginator .next_prev a.next {background:url(../img/pag_right_act.png) no-repeat 100% 5px;padding-right:8px;}
.pagination span {color:#82b1bf;background:#d0eff8;padding:1px 5px 2px 5px;float:left;margin-right:3px;}
.pagination a {float:left;padding:1px 5px 2px 5px;margin-right:3px;}

.noname {height:360px;margin-top:40px;background:url(../img/404.png) #d7f6ff no-repeat 90% 50%;overflow:hidden;}
.noname .inner {width:50%;margin:120px 0 0 50px;}
.noname .inner h1 {margin-bottom:0.5em;}

.questions_wrap .submit {margin-bottom:20px;}
.message {position:absolute;}
.promo h3 { color:#FF0000; font-size:14px; font-weight:normal; font-family:'PFAgoraSansProLight',sans-serif; padding:0 0 10px; }

.link-panel { bottom: -140px; position: absolute; right: 105px; display: none; }
.link-panel a { display: block; background:url(../img/user-panel.png) no-repeat; background-size: 100%; width: 96px; height: 96px; }